<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ==================  definition of target objects ================== -->

    <bean id="workLog" class="swt6.spring.basics.aop.logic.WorkLogServiceImpl"/>

    <!-- ==================  definition of advices ================== -->

    <bean id="traceAdvice" class="swt6.spring.basics.aop.advice.TraceAdviceXmlBased"/>

    <!-- ==================  definition of aspects ================== -->

    <aop:config>

        <aop:aspect id="traceAspect" ref="traceAdvice">
            <aop:pointcut id="findMethods" expression="execution(public * swt6.spring.basics.aop.logic..*find*(..))"/>
            <aop:pointcut id="findByIdMethods"
                          expression="execution(public * swt6.spring.basics.aop.logic..find*ById*(..))"/>
            <aop:around method="traceAround" pointcut-ref="findByIdMethods"/>
            <aop:after-returning method="traceAfter" pointcut-ref="findMethods"/>
            <aop:before method="traceBefore" pointcut-ref="findMethods"/>
            <aop:after-throwing method="traceException" pointcut-ref="findMethods" throwing="exception"/>
        </aop:aspect>

    </aop:config>


</beans>
