<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- ========================= RESOURCE DEFINITIONS ========================= -->

    <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
    <context:property-placeholder location="swt6/spring/worklog/test/jdbc.properties"/>

    <!--
        Definion of local datasource.
        Uses Apache Commons DBCP for connection pooling. See Commons DBCP documentation
        for the required JAR files. See the PetStore sample application also shipped with
        Spring, for an example of Commons DBCP usage and the necessary build script.
        Alternatively you can use another connection pool such as C3P0, similarly configured
        using Spring.
        A standalone connection pool such as Commons DBCP is a good choice for use outside an
        application server environment, including web applications running in a web container without
        JTA, or integration testing using the org.springframework.test package.
    -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName"
                  value="${database.driverClassName}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- ========================= DAO DEFINITIONS ========================= -->
    <bean id="employeeDaoJdbc" class="swt6.spring.worklog.dao.jdbc.EmployeeDaoJdbc">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

    <!-- ========================= TRANSACTION DEFINITIONS ========================= -->

</beans>
